<div class="navbar topNavbar" >
    <div class="text-center">
      <a href="javascript:history.back()" id="prev"><i class="material-icons prev-icon" style="color: #6E6E6E"s>
        navigate_before
      </i></a>
    </div><!--end of panel body-->
</div><!--end of panel-->