
<div class="navbar bottomNavbar" >  
  <a id="homeNav" href="/home"><i class="material-icons home-icon" style="color: #6E6E6E">
      home
    </i>Home</a>
  <a id="statisticsNav" href="/statistics"><i class="material-icons" style="color: #6E6E6E">
      assessment
    </i>Statistics</a>
  <a id="adviceNav" href="/advices"><i class="material-icons" style="color: #6E6E6E;">
      toys
    </i>Advice</a>
  <a id="profileNav" href="/profile"><i class="material-icons" style="color: #6E6E6E">
      person
    </i>Profile
  </a>
</div><!--end of buttom nav bar -->