<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- for icon library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<!-- This is the top panel of website with bottom -->
	<div class="navbar" >
		<div class="text-center">
			<a href="javascript:history.back()" id="prev"><i class="material-icons prev-icon" 
				style="color:black">
				navigate_before
			</i></a>
			
			<h4>Home</h4>

			<div class="dropdown">
				<button id="menu" class="topright" style="border: 0px">
				<i class="material-icons" style="color:black;">
					menu
				</i></button>
				<div class="dropdown-content">
					<button>
					<a href="/profile"><i class="material-icons" style="color:black">
						person
					</i> Profile
					</a></button>
					
					<button><a href="/statistics"><i class="material-icons" style="color: black">
						assessment
					</i>Statistic</a></button>
					<button><a href="/advices"><i class="material-icons"
						style="color: black">
						toys
					</i>Advices</a></button>
					<button><a href="#"><i class="material-icons"
						style="color: black">
						settings
					</i>Setting</a></button>
					<a href="/login"><i class="material-icons home-icon" style="color:black">
						exit_to_app
					</i></a>

				</div><!--end of dropdown context-->
			</div><!--end of dropdown-->
		</div><!--end of panel body-->
	</div><!--end of panel-->
	
	<div class="container" style="margin-top:65px">
		<input type=button id="strtStryln" onclick="window.location.href='/storyline';" class= "center-block" value="Start Storyline">
		<p style="text-align: center; color: #C7CBD1;">Find out how you're feeling. Click above!</p>
		</input>

		<hr>

		<!-- Quick statistics section -->
		<h3>How you've felt this week:</h3>
		<div id="piechart" style="width: 200px; height: 100px;"></div>

		<hr>

		<!-- Last advice section -->
		<div style="padding: 5px; border: 2px; border-style: solid; border-color: #E6E6E6; margin-bottom: 10px;">
			
			<button><a href="/advices">Last Advice</a></button>
			<table>
				{{#each advices}}
					<tr>
						<div class="advices" id={{name}}>
							<th>{{description}}</th>
							<th>{{status}}</th>
						</div>
					</tr>
				{{/each}}
			</table>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="/js/graph.js"></script>
</body>
</html>
