<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- for icon library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="/js/introHCI.js"></script>
</head>

<body id="introBackground">
	<div>

		<!-- Exit intro button --> 
		<input type="button" id="exitIntro" value="x" style="font-size: 20px;" onclick="window.location.href='/home';">
		<br><br><br><br>

		<!-- Brand Title-->
		<center>
			<img src="/images/whitelogo.png" alt="playoutimg";>
			</center>
		<br>

		<!-- Decor lines -->
		<hr style="height: 5px; background-color: #5FB27D; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: #FF9893; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: #F8E896; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: white; border: none; margin: 10px 0;">

		<br>

		<!-- Storyline description -->
		<h1 id="introDescription">Get Feedback</h1>
		<br>
		<h3 id="introDescription">1. Get Advice based on your choices</h3>
		<br>
		<h3 id="introDescription">2. Complete advice and set goals. Yes, it's that simple!</h3>
		<br><br><br><br>

		<!-- Back / Finish intro button -->
		<input type="button" id="backIntro" value="<" onclick="window.location.href='/intro2'" style="color: #6E6E6E; font-size: 30px;">
		<input type="button" id="nextIntro" value="Go" onclick="window.location.href='/home'" style="color: #6E6E6E; font-size: 30px;">
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
