<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- for icon library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<!-- This is the top panel of website with bottom -->
	
	
	<div class="container">
		<div class="jumbotron">
			<h2 style="text-align: center;">Welcome back!</h2>
		</div>

		<form action="/action_page.php">
			Username:<br>
			<input type="text" name="Username" style="width: 100%; padding:12px 18px; margin: 8px 0; box-sizing: border-box; border-radius: 4px;" required="johndoe123">
			<br>
			Password:<br>
			<input type="text" name="lastname" style="width: 100%; padding:12px 18px; margin: 8px 0; box-sizing: border-box; border-radius: 4px;" required="mypassword321">
			<br>
			<!-- <input type="submit" onclick="window.location.href='/';" class="center-block" value="Login" style="width: 100px; padding:10px 16px; margin: 0 auto; box-sizing: border-box; border-radius: 4px; align-content: center;"> -->
		</form>

		<input type=button id="completeLogin" onclick="window.location.href='/';" class="center-block" value="Login" style="border-radius: 4px; width: 100px; padding:10px 16px; background-color: #F4BC42">
		</input>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
