<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- for icon library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="/js/introHCI.js"></script>
	{{>facebook}}
	<script src="/js/facebook.js"></script>
</head>

<body>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=309167696616775&autoLogAppEvents=1"></script>
	<!-- This is the top panel of website with bottom -->
	<div class="container">
	<!--	<div class="jumbotron">
			<h2 style="text-align: center;">Play Out</h2>
		</div> -->
		<center>
			<img src="/images/PlayOutLogo.png" alt="playoutlogo">
			<br>
			<img src="/images/playout.png" alt="playoutimg";>
		</center>

		<br>

		<form action="/action_page.php">
			Username:<br>
			<input type="text" name="Username" style="width: 100%; padding:12px 18px; margin: 8px 0; box-sizing: border-box; border-radius: 4px;" required="johndoe123">
			<br>
			Password:<br>
			<input type="password" name="lastname" style="width: 100%; padding:12px 18px; margin: 8px 0; box-sizing: border-box; border-radius: 4px;" required="mypassword321">
			<br>
			<!-- <input type="submit" onclick="window.location.href='/';" class="center-block" value="Login" style="width: 100px; padding:10px 16px; margin: 0 auto; box-sizing: border-box; border-radius: 4px; align-content: center;"> -->
		</form>

		<input type=button id="completeLogin" onclick="window.location.href='/intro';" class="center-block" value="Login" style="border-radius: 4px; width: 100px; padding:10px 16px; background-color: #53B8D1;">
		</input>

		<hr>

		<!-- FB login -->
		<p class="facebookLogin" style="text-align: center;">
			<fb:login-button data-size="large" scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</p>
		<br>
	</div>

	<!-- Decor lines -->
		<hr style="height: 5px; background-color: #5FB27D; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: #FF9893; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: #F8E896; border: none; margin: 10px 0;">
		<hr style="height: 5px; background-color: #53B8D1; border: none; margin: 10px 0;">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
