<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- for icon library-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="/css/introHCI.css" rel="stylesheet">
  <script src="/js/introHCI.js"></script>
  {{>facebook}}
  <script src="/js/facebook.js"></script>
</head>

<body>
  <!-- This is the top panel of website with bottom -->
  <!-- This is the top panel of website with bottom -->
  <div class="panel panel-default">
    <div class="panel-heading text-center panel-relative">
      <a href="javascript:history.back()"><i class="material-icons prev-icon" 
        style="color:black">
        navigate_before
      </i></a>
      <a href="/"><i class="material-icons home-icon" 
        style="color:black">
        home
      </i></a>

      <h4>Profile</h4>

      <div class="dropdown">
        <button id="menu" class="topright" style="border: 0px">
        <i class="material-icons" style="color:black;">
          menu
        </i></button>
        <div class="dropdown-content">
          <button>
          <a href="/profile"><i class="material-icons" style="color:black">
            person
          </i> Profile
          </a></button>
          
          <button><a href="/statistics"><i class="material-icons" style="color: black">
            assessment
          </i>Statistic</a></button>
          <button><a href="/advices"><i class="material-icons"
            style="color: black">
            toys
          </i>Advices</a></button>
          <button><a href="#"><i class="material-icons"
            style="color: black">
            settings
          </i>Setting</a></button>
        </div><!--end of dropdown context-->
      </div><!--end of dropdown-->
    </div><!--end of panel body-->
  </div><!--end of panel-->
  
  <!--start of Last Advice-->
  <div class="container">
    <div class="jumbotron" style="border: 2px; border-style: solid; border-color: #E6E6E6">
      <center>
      <h2 style="color: #F4BC42">Profile</h2>
    </center>
    </div>


      <center>
      <div id="fb" class="profile">
      <h3>Profile Photo</h3>
      <img id="facebookPhoto" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />
    </div>
    </center>
      <hr>

      <p id="profileName" style="float: right; ">Carlo Lopez De La Fuente</p>
      <h3>Name</h3>
        
        
      <hr>

      <p style="float: right; ">Create better relationships with friends</p>
      <h4>Personal Goal</h4>
        

      <hr>

      <p style="float: right;">Relationship, Friends, Family</p>
      <h4>Needs Work</h4>
          </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/profileFB.js"></script>
</body>
</html>
