<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- for icon library-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="/css/introHCI.css" rel="stylesheet">
  <!--<script src="/js/introHCI.js"></script>-->
  {{>facebook}}
  <script src="/js/facebook.js"></script>
</head>

<body>
  <!-- This is the top panel of website with bottom -->
  <!-- This is the top panel of website with bottom -->
  <div class="navbar topNavbar" >
    <div class="text-center">
      <a href="javascript:history.back()" id="prev"><i class="material-icons prev-icon">
        navigate_before
      </i></a>
      <a href="/home"><i class="material-icons home-icon">
        home
      </i></a>

      <h4>Advice</h4>

    </div><!--end of panel body-->
  </div><!--end of panel-->
  
  
  <!--start of Last Advice-->
  <div class="container">
    <div class="jumbotron" style="border: 2px; border-style: solid; border-color: #E6E6E6">
      <center>
      <h2 style="color: #F4BC42">Profile</h2>
    </center>
    </div>


      <center>
      <div id="fb" class="profile">
      <img id="facebookPhoto" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />
    </div>
    </center>
      <hr>

      <p id="profileName" style="float: right; ">Carlo Lopez De La Fuente</p>
      <h3>Name</h3>
      <hr>

      
      <h4>Personal Goal</h4>
      {{#each goals}}
        <p style="float: right; ">{{goalContext}}</p>  
        <br>
      {{/each}}
      <hr>
      <h4>Needs Work</h4>
      {{#each working}}
        <p style="float: right; ">{{workingContext}}</p>  
        <br>
      {{/each}}
    </div>
    <div class="navbar bottomNavbar" >  
    <a href="/profile"><i class="material-icons" >
      person
    </i> Profile
    </a>
    <a href="/statistics"><i class="material-icons" >
      assessment
    </i>Statistic</a>
    <a href="/advices"><i class="material-icons">
      toys
    </i>Advices</a>
    <a href="#"><i class="material-icons">
      settings
    </i>Setting</a>
  </div><!--end of buttom nav bar -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/profileFB.js"></script>
</body>
</html>
