<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- for icon library-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
  <!-- This is the top panel of website with bottom -->
  {{>header}}
  
  <!--start of Weekly Statistics-->
  <div class="container">
    <div style="border: 2px; border-style: solid; border-color: #E6E6E6; margin-top: 20px;">
      <center>
        <h2 style="color: #F4BC42;">This Week</h2>
      </center>

      <p style="text-align: center;">Here's how many times you've log positive and negative feelings each day of this week</p>
      <hr>
      
      <!-- Add This week's statistics chart here-->
      <!-- GOOGLE GRAPH API -->
      <div id="chart"></div>
      <!--<img src="/images/graph.png" class="img-responsive"> </img>-->
      <hr>
      <center><h4 style="color:#f4bc42;">Emotion this Week</h4></center>
      <p style="text-align: center;">Here's how many times you've log each feelings this week VS your goals</p>
      
      <!--detail chart, the blue one-->
      <div id="barchart_diff"></div>
      <hr>
      <div>
        <h3 style="padding-left: 15px;">You completed:</h3>
        <p style="padding-left: 30px;">2 pieces of advice</p>
      </div>
    
    </div> <!--end of border?-->
    <hr>
    <!-- Add Average weekly score from storyline, % improved from previous week, etc-->
    <br>
    <div style="margin-bottom: 20px;">
      <table>
        <tr>
          <th>Friends Relationship</th>
          <th>8/10</th>
        </tr>
        <tr>
          <th>Family Relationship</th>
          <th>9/10</th>
        </tr>
        <tr>
          <th>School Life</th>
          <th>9/10</th>
        </tr>
      </table>
    </div> <!--end of margin bottom-->
  </div><!--end of container-->
  <!-- this is the bottom navbar-->
  {{>navbar}}

  <!-- script -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/js/graph.js"></script>
  <script src="/js/navbarColor.js"></script>
  <!--for detail chart-->
</body>
</html>