<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- for icon library-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="/css/introHCI.css" rel="stylesheet">
  {{>google}}
</head>

<body>
  <!-- This is the top panel of website with bottom -->
  {{>header}}
  
  <!--start of Weekly Statistics-->
  <div class="container">
    <div style="border: 2px; border-style: solid; border-color: #E6E6E6; margin-top: 20px;">
      <center>
        <h2 style="color: #53B8D1;">This Week</h2>
      </center>
      <hr>

      <!-- Positive vs Negative feelings -->
        <center><h4>Positive/Negative Feelings</h4></center>
        <p style="text-align: center; margin: 0 5px; color: #6B6B6C;">How many times you've logged positive and negative feelings each day of this week</p>
        <br>
      
        <!-- Add This week's statistics chart here-->
        <!-- GOOGLE GRAPH API -->
        <div id="chart"></div>
        <!--<img src="/images/graph.png" class="img-responsive"> </img>-->
        <hr>

      <!-- Emotions this week -->
        <center><h4>Emotions this Week</h4></center>
        <p style="text-align: center; margin: 0 5px; color: #6B6B6C;">How many times you've logged each feeling this week VS your goals for each</p>
        <br>

        <!--detail chart, the blue one-->
        <div id="barchart_diff"></div>
        <hr>

      <!-- Advice completed-->
      <div>
        <center><h4>Advice Progress</h4></center>
        <center><p style="color: #6B6B6C;">Amount of advice you've completed this week:</p></center>
        <br>
        <!-- donut chart for advice -->
        <div id="donutchart"></div>
      </div>

      <!-- Score for each relationship -->
      <hr>
      <center>
        <h4>Effortful Relationships</h4>
        <p style="text-align: center; margin: 0 5px; color: #6B6B6C;">How much effort are you putting into solving problems in each relationship?</p>
      </center>
      <br>

        <!-- graph -->
        <div id="lastchart"></div>
    </div> <!--end of border?-->
    <!-- Add Average weekly score from storyline, % improved from previous week, etc-->
    <br>
    
    <!--<div style="margin-bottom: 20px;">
      <h3>Effortful Relationships:</h3>
      <p>How much effort are you putting into solving problems in each relationship?</p>
      <br>
      <table>
        <tr>
          <th>Casual Friend Relationships</th>
          <th>8/10</th>
        </tr>
        <tr>
          <th>Close Friend Relationships</th>
          <th>8/10</th>
        </tr>
        <tr>
          <th>Best Friend Relationships</th>
          <th>8/10</th>
        </tr>
        <tr>
          <th>Aquaintance Relationships</th>
          <th>9/10</th>
        </tr>
        <tr>
          <th>New Friend Relationships</th>
          <th>9/10</th>
        </tr>
      </table>
    </div> --><!--end of margin bottom--> 
  </div><!--end of container--> 

  <!-- this is the bottom navbar-->
  {{>navbar}}

  <!-- script -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/js/graph.js"></script>
  <script src="/js/navbarColor.js"></script>
  <!--for detail chart-->
</body>
</html>