<!doctype html>
<meta name ="viewport" content="width=device-width,initial-scale= 1.0">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- for icon library-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
  <!-- This is the top panel of website with bottom -->
  <div class="panel panel-default">
    <div class="panel-heading text-center panel-relative">
      <a href="javascript:history.back()"><i class="material-icons prev-icon" 
        style="color:black">
        navigate_before
      </i></a>
      <a href="/"><i class="material-icons home-icon" 
        style="color:black">
        home
      </i></a>

      <h4>Storyline</h4>

      <div class="dropdown">
        <button id="menu" class="topright" style="border: 0px">
        <i class="material-icons" style="color:black;">
          menu
        </i></button>
        <div class="dropdown-content">
          <button>
          <a href="/profile"><i class="material-icons" style="color:black">
            person
          </i> Profile
          </a></button>
          
          <button><a href="/statistics"><i class="material-icons" style="color: black">
            assessment
          </i>Statistic</a></button>
          <button><a href="/advices"><i class="material-icons"
            style="color: black">
            toys
          </i>Advices</a></button>
          <button><a href="#"><i class="material-icons"
            style="color: black">
            settings
          </i>Setting</a></button>
        </div><!--end of dropdown context-->
      </div><!--end of dropdown-->
    </div><!--end of panel body-->
  </div><!--end of panel-->
<center>
  <div class="container">
    <img src="images/2019-02-07.png" class="img-responsive" alt="strylnimg1">
    <button class="choices center-block" style="height:40px;width:400px"><a href="#"></a>
      <p id="choice1"></p>
    </button>
    <br>
    <button class="choices center-block" style="height:40px;width:400px" ><a href="#"></a>
      <p id="choice2"> </p>
    </button>
    <br>
    <button class="choices center-block" style="height:40px;width:400px" ><a href="#"></a>
      <p id="choice3"></p>
    </button>
    <br>
    <button class="choices center-block" style=" height:40px;width:400px" ><a href="#"></a>
      <p id= "choice4"></p>
    </button>
  </div>
  </center>


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/strChoice.js"></script>
</body>
</html>
