/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}


.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: 10;	
}

.jumbotron p {
     color: #6e6e6e;
}

.jumbotron button{
     align-self: center;
}

/*button in the storyline page*/
.storyTypeButton {
  align-self: center;
  width: 260px;
  height:60px;
  font-size: 25px;
  border-radius: 4px;
  background-color:#f4bc42;
}

/* navbar css*/
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.bottomNavbar {
  bottom:0;
  margin-bottom: 0;
}
.topNavbar{
  top:0;
  margin-top: 0;
}
/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 25%; 
  text-align: center; 
}
.home-icon {
  position: absolute;
  left:40px;
}
.prev-icon{
  position: absolute;
  left:1%;
}

/* Add a background color on mouse-over */
.bottomNavbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.bottomNavbar a.active {
  background-color: #4CAF50;
}

/*end of navbar css*/
#prev{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

i {
  font-size: 2.5em;
  color: white;
}

.container {
  margin-top:65px; 
  margin-bottom: 65px;
}


.topright {
  position: absolute;
  top: 0px;
  right: 40px;
}

#strtStryln{
    top:10%;
    align-self: center;
    width: 260px;
    height:60px;
    font-size: 25px;
    border-radius: 4px;
    background-color:#f4bc42;
}

.jumbotron h1{
    text-align: center;
}



/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content{display: block;}

