/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}


.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: 10;	
}

.jumbotron p {
     color: #6e6e6e;
}

.jumbotron button{
     align-self: center;
}

/*button in the storyline page*/
.storyTypeButton {
  align-self: center;
  width: 260px;
  height:70px;
  font-size: 25px;
  border-radius: 4px;
  background-color:#53B8D1;
}

/* navbar css*/
.navbar {
  background-color:#EDEDED;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.bottomNavbar {
  bottom:0;
  margin-bottom: 0;
}
.topNavbar{
  top:0;
  margin-top: 0;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: #595959;;
  text-decoration: none;
  font-size: 12px;
  width: 25%; 
  text-align: center; 
}
/*.home-icon {
  color: #595959;
  position: absolute;
  left:40px;*/
}
.prev-icon{
  color: #6E6E6E;
  position: absolute;
  left:1%;
}

/* Collapsible form styling*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Add a background color on mouse-over */
.bottomNavbar a:hover {
  background-color: #C7CBD1;
}

/* Style the current/active link */
.bottomNavbar a.active {
  background-color: #4CAF50;
}

/*end of navbar css*/
#prev{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

i {
  font-size: 2.5em;
  color: white;
}

.container {
  margin-top:65px; 
  margin-bottom: 65px;
}


.topright {
  position: absolute;
  top: 0px;
  right: 40px;
}

#strtStryln{
    top:10%;
    align-self: center;
    width: 260px;
    height:60px;
    font-size: 25px;
    border-radius: 4px;
    background-color:#F8E896;
}

.jumbotron h1{
    text-align: center;
}

#adviceHome {
  top:10%;
  align-self: left;
  width: 150px;
  height:40px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #EDEDED;
}

/* google api chart*/
#chart {
	z-index: 1;
	position: relative;
}
#seeadvice {
  top:10%;
  align-self: center;
  width: 150px;
  height:40px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #EDEDED;
  margin-bottom: 20px;
  padding-bottom: 10px; 
}

/* intro page background */
#introBackground {
  background-color: #53B8D1;
  height: 100%;
  width: 100%;
}

#introDescription {
  color: white;
  text-align: center;
  padding: 0 25px;
  margin: 10px 40px;
}

#exitIntro {
  background-color: #53B8D1;
  border: none;
  text-align: center;
  margin: 15px;
  float: left;
}

#startIntro {
  background-color: white;
  text-align: center;
  width: 60%;
  border-radius: 4px;
  border-color: #F8E896;
  position: relative;
  margin-top: 35%;
}

#nextIntro {
  background-color: white;
  text-align: center;
  width: 18%;
  border-radius: 4px;
  border-color: #F8E896;
  margin: 15px 20px;
  float: right;
}

#backIntro {
  background-color: white;
  text-align: center;
  width: 18%;
  border-radius: 4px;
  border-color: #F8E896;
  float: left;
  margin: 15px 20px;
}

#skipTutorial {
  background-color: #53B8D1;
  border: none;
  text-align: center;
  margin: 10px 20px;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content{display: block;}

